/* adm-nav{
    text-align: right;
    font-size: 1.3rem;
    font-weight: 600;
} */
.home-link{
    text-decoration: none;
    color: black;
    margin-right: 130px;
    
}

.adminlogin{
    background-image:linear-gradient(rgba(0, 0, 0, 0.196),rgba(0, 0, 0, 0.196)), url("adminlogin.jpg");
    background-size: cover;
    height: 100vh;
}

.adm-login{
    background-image: linear-gradient(to bottom right,rgba(58, 49, 16, 0.495),rgba(0, 0, 0, 0.373),rgba(58, 49, 16, 0.495));
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 70px;
    left: 550px;
    height: 550px;
    width: 450px;
    padding-top: 20px;
}
h1{
    text-align: center;
}
.adm-form{
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.2rem;
}
.adm-form input{
    border: none;
    outline: none;
    width: 70%;
    color: black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(213, 211, 211, 0.784);
    
}
.adm-btns{
    text-align: center;
    width: 500px;
    /* margin-right: 0; */
}
.adm-btns button{
    width:40%;
    color: white;
    height: 55px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 90px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.789);
        
}