
.home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.316),rgba(0, 0, 0, 0.315)), url("./backhome1.webp");
    background-size: cover;
    height: 100vh;
    text-align: center;
   
  
}
.login{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.395),peachpuff,rgba(0, 0, 0, 0.438));
    
    border-radius: 10px;
    height: 550px;
    width: 450px;
    position: relative;
    top: 100px;
    left: 550px;
    padding-top: 20px;
    
    
}
.login h1{
    color: peachpuff;
    font-size: 3.5rem;
    position: relative;
    top: 20px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.home-btn{
    /* padding-top: 50px; */
    position: relative;
    top: 45px;
}
.home-btn button{
    width:50%;
    height: 55px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 50px;
    
        
}